/**
 * SPDX-FileCopyrightText: 2022 Michael Pöhn <michael.poehn@fsfe.org>
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

.list {
  padding-left: .75rem;
  list-style-type: "- ";
}

.pagebg {
  width:100%;
  height:100%;
  position: fixed;
  background-image: url('../img/pexels-ron-lach-10495912-1080px.jpg');
  background-size: cover;
}

.gradient {
  width:100%;
  height:100%;
  position: fixed;
  overflow: scroll;
  animation: GradientAnimation 5s ease infinite;
  background: linear-gradient(212deg, rgba(255, 208, 59, 0.125), rgba(249, 140, 241, 0.125), rgba(178, 255, 160, 0.125));
  background-size: 600% 600%;
}

@keyframes GradientAnimation {
    0%{background-position:84% 0%}
    50%{background-position:17% 100%}
    100%{background-position:84% 0%}
}

.floaty {
  margin-left:auto;
  margin-right:auto;
  margin-top: 10rem;
  margin-bottom: 10rem;
  width: 80%;
  padding: 2rem;
  background-color: #fff;
  border-radius: 3rem;
  opacity: 0.95;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title-icon {
  width: 1.4em;
  margin-bottom: 0.3em;
  border-radius: 0.75rem;
}

@media screen and (min-width: 50rem) {
  .floaty {
    margin-left: 8rem;
    width: 60%;
  }
}
