{#
SPDX-FileCopyrightText: 2023 Michael Pöhn <michael@poehn.at>
SPDX-License-Identifier: AGPL-3.0-or-later
#}
<!DOCTYPE html>

<html lang="de" class="no-js">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="copyright" content="&copy; 2023 Michael Pöhn" />
    <title>Ö1 Journale</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ static_url("icon/180.png") }}"/>
    <link rel="icon" type="image/png" sizes="48x48" href="{{ static_url("icon/48.png") }}"/>
    <link rel="icon" type="image/png" sizes="32x32" href="{{ static_url("icon/32.png") }}"/>
    <link rel="icon" type="image/png" sizes="16x16" href="{{ static_url("icon/16.png") }}"/>
    <link rel="shortcut icon" href="{{ static_url("icon/48.ico") }}"/>
    <link rel="stylesheet" href="{{ static_url("css/bootstrap-reboot-5.3.0-alpha1.min.css") }}">
    <link rel="stylesheet" href="{{ static_url("css/style.css") }}">
  </head>
  <body>
    <div class="pagebg">
      <div class="gradient">
        <main class="floaty">
          <h1>
            <img class="title-icon" src="{{ static_url("icon/180.png") }}" alt="icon" />
            <span class="title-span">Ö1 Journale</span>
          </h1>
          <p>
            Dieses Projekt stellt nach Format gefilterte Versionen des <a
            href="https://radiothek.orf.at/podcasts/oe1/oe1-journale">Ö1
            Journal Podcasts</a> (<a
            href="https://podcast.orf.at/podcast/oe1/oe1_journale/oe1_journale.xml">RSS
            Feed</a>) bereit.
          </p>
          <ul class="list">
            <li><a href="/fruhjournal.rss">Ö1 Frühjournal</a></li>
            <li><a href="/morgenjournalum7.rss">Ö1 Morgenjournal um 7</a></li>
            <li><a href="/morgenjournalum8.rss">Ö1 Morgenjournal um 8</a></li>
            <li><a href="/mittagsjournal.rss">Ö1 Mittagsjournal</a></li>
            <li><a href="/abendjournal.rss">Ö1 Abendjournal</a></li>
          </ul>
          <small>
            Dieses Projekt steht unter der AGPL-3.0-or-later Lizenz (<a
            href="https://codeberg.org/uniqx/oe1journalfeedfilters">Source
            Code</a>)
            - <a href="https://poehn.at/imprint/">Impressum</a>
            - <a href="https://poehn.at/imprint/#Privacy">Datenschutz</a>
          </small>
        </main>
      </div>
    </div>
  </body>
</html>
